.App {
  text-align: center;
  margin-top: 12%;
}

h1 {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 22px;
  font-weight: normal;
}

.deadline-date {
  font-size: 35px;
  text-transform: capitalize;
  display: block;
  margin-top: 15px;
  color: #40CCFF;
  letter-spacing: 0;
}

.clock-div {
  margin: 0 auto;
  text-align: center;
}

.clock-hours, .clock-days, .clock-minutes, .clock-seconds {
  width: 120px;
  height: 120px;
  display: inline-block;
  margin: 10px;
  padding: 25px;
  border-radius: 5px;
  font-size: 26px;
}
.clock-days { background-color: #F658AF; }
.clock-hours { background-color: #FB5559; }
.clock-minutes { background-color: #2DCB74; }
.clock-seconds  { background-color: #9955FB; }

.clock-small {
  display: block;
  font-size: 16px;
}
.deadline-input {
  padding: 12px 25px;
  border-radius: 5px;
  text-align: center;
  border:none;
  outline: none;
  margin-right: 15px;
  color: #313030;
}

button {
  padding: 12px 16px;
  border-radius: 5px;
  border:none;
  outline:none;
  background-color: #2DA1CB;
}
button:hover {
  background-color: #2C83A3;
}
.mini-form {
  margin-top: 1%;
}